body{
    background: brown;
    text-align: center;
    margin-top: 15px;
    
}
.form{
    background-color: aliceblue;
}
.new{
   text-decoration-color: blue; 
}
p{
    color:blue;
}
h2{  
    color: antiquewhite;
}