nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #34495e;
    height: 60px;
}

#logo {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-right: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

#right-nav {
    display: flex;
}
