{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'about-us.css' %}">
</head>
<body>
    <div id="about-us">
        <img id="logo"src="{% static 'images/logo-removebg-preview.png' %}" alt="">
        <h1>ABOUT US</h1>
        <p>Through block chain technology, the fintech company will<br>
        allow the user to accept payment through their<br> crypto wallets.<br>
        <br>
        Enhancement of block chain technology into fintech.<br>
        company will be enabled through tech stach like solidity.<br>
        and javascript and in essence makes the application a <br>
        web3. <br>
        <img id="company-photo" src="{% static 'images/company_photo-removebg-preview.png' %}" alt="">
        </p>
    </div>
    
</body>
</html>