{% extends "base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
    <div class="row my-3 p-3">
        <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }} " style="cursor: pointer;"/>
    </div>
    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="small mb-1">Username:<input type="text"/></label>
                            {{ user_form.username }}<br>
                        <label class="small mb-1">Email:<input type="email"></label>
                            {{ user_form.email }}<br>
                        <label class="small mb-1">Phone_number:<input type="number"></label>
                            {{ user_form.Phone_number }}<br>
                        <label class="small mb-1">Age:<input type="time"></label>
                            {{ user_form.Age }}<br>
                        <label class="small mb-1">City:<input type="text"></label>
                            {{ user_form.City }}<br>
                        <label class="small mb-1">Town:</label>
                            {{ user_form.Town }}<br>
                        <label class="small mb-1">Country:</label>
                            {{ user_form.Country }}<br>
                        <label class="small mb-1">Nationality:</label>
                            {{ user_form.Nationality }}<br>
                            <label class="small mb-1">Address1:</label>
                            {{ user_form.Address1 }}<br>
                        <label class="small mb-1">Address2:</label>
                            {{ user_form.Address2 }}<br>
                        <label class="small mb-1">zip_code:</label>
                            {{ user_form.Zip_code }}<br>
                    </div>
                    <div class="form-group">
                        <a href="#">Change Password</a>
                        <hr>
                        <label class="small mb-1">Change Avatar:</label>
                        {{ profile_form.avatar }}
                    </div>
                    <label class="small mb-1">Bio:</label> {{ profile_form.bio }}
                </div>
            </div>
            <br><br>
            <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
            <button type="reset" class="btn btn-dark btn-lg">Reset</button>
        </form>
    </div>
{% endblock content %}