{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'client_update.css' %}">
    <title>Client Update Profile</title>
</head>
<body>
    <div class="container">
        <div id="form">
            <form action="">
                <label for="image">Update Profile Image</label>
                <input type="file" id="profilePicture" name="filename"> <br><br>
                <label for="fname">First name:</label>
                <input type="text" id="fname" name="fname"><br><br>
                <label for="lname">Last name:</label>
                <input type="text" id="lname" name="lname"><br><br>
                <label for="email">Email:</label>
                <input type="email" name="email"><br><br>
                <label for="phone number">Phone Number:</label>
                <input type="text" id="phone number"><br><br>
                <label for="age">Age:</label>
                <input type="text" id="age"><br><br>
                <label for="city">City:</label>
                <input type="text" id="city"><br><br>
                <label for="town">Town:</label>
                <input type="text" id="town"><br><br>
                <label for="country">Country:</label>
                <input type="text" id="country"><br><br>
                <label for="nationality">Nationality:</label>
                <input type="text" id="nationality"><br><br>
                <label for="address ">Address 1:</label>
                <input type="text" id="address"><br><br>
                <label for="address ">Address 2:</label>
                <input type="text" id="address"><br><br>
                <label for="zip code ">Zip code:</label>
                <input type="text" id="zip code"><br><br>
                
                <input type="submit" name="submit" value="Update Details">
                <script src="./client_update.js"></script>
            </form>            

        </div>
    </div>
</body>
</html>