<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="forgot_password.css">
    <title>FORGOT PASSWORD</title>
</head>
<body>
    <h2>Forgot Password</h2>
    <div class="form">
        <form action="post">
            <input type="text" placeholder="Enter Email">
            <input type="text" placeholder="send code"><br><br>
            <p>Enter the code sent to your email</p>
            <p>&#8212; &#8212; &#8212; &#8212; &#8212; &#8212;</p>
            <input type="text" placeholder="confirm code"><br><br>
            <label for="newpass">ENTER NEW PASSWORD:</label>
            <input type="text" id="newpass" ><br><br>
            <label for="confnewpass">CONFIRM NEW PASSWORD:</label>
            <input type="text" id="connewpass">
        </form>
        <div>
            <p class="new">New password Has Been Updated!</p>
            <button onclick="btn">LOGIN TO SIKEPAY DASHBOARD</button><br><br>
            <button onclick="btn">GOT TO HOMEPAGE</button>
        </div>
        <div>
            <p>NEED HELP?<br>
                Visit our help center for more information and  guidance <br>
                on how to recover your password
            </p>
        </div>
    </div>
</body>
</html>