<!DOCTYPE html>
<html>
<head> 
    <link rel="stylesheet" href="HELPLINE.css">
    <meta charset="utf-8">
    
<title>Page Title</title>
</head>
<body>

<div class="HELPLINE"><div class="helpline"><h1>HELPLINE</h1></div>

<div class="sikepay"><h2>SIKEPAY</h2></div>

<div class="customer-care"><p1>CUSTOMER CARE</p1></div>
<div class="phone-no"><p2>+254712345678</p2>
</div>
<div class="gmail"><p3>Our Email: <a href="mailto:stevewaithaka8119@gmail.com">sikepay@sikepay.com</a></p3></div>
<div class="facebook"><p3>FACEBOOK: <a href="mailto:SIKEPAY">sikepay</a></p3></div>
<div class="twitter"><p3>TWITTER: <a href="mailto:SIKEPAY">sikepay</a></p3></div>
<div class="ig"><p3>INSTAGRAM: <a href="mailto:SIKEPAY">sikepay</a></p3></div>
</div>
</body>
</html>