<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <form action="">
        <div>
            <div><h1>SignUp</h1></div>
            <div class="first-name"><input type="text" placeholder="First name"></div>
            <div class="last-name"><input type="text" placeholder="Last name"></div>
            <div class="surname"><input type="text" placeholder="Surname (optional)"></div>
            <div class="email"><input type="email" placeholder="Email"></div>
            <div class="phone-number"><input type="text" placeholder="Phone number"></div>
            <div class="username"><input type="text" placeholder="Username"></div>
            <div class="password"><input type="password" placeholder="Create Password"></div>
            <div class="password"><input type="password" placeholder="Confirm Password"></div>
            <button class="submit-button">submit</button>
        </div>
    </form>
    <p>Need Help?</p>
    <p>Visit our <a href="helpcenter.html">Help Center</a> to get help with signing up.</p>
</body>
</html>