<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="rateus.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Page Title</title>
</head>
<body>
    <div class="RATE-US">

<div class="rateus"><h1>RATE US</h1></div>
<div class="how"><p1>How did you find the overall experience</p1></div>
<div class="span1"><p2><span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span></p2></div>
    <div class="comment"><h2>COMMENT:</h2></div>
    <div class="comment"> <label for="comment"></label>

        
            <textarea id="comment" placeholder="type here"></textarea>
        
        
    </div>
    
<div class="satisfaction"><p3><u>SATISFACTION</u></p3></div>
<div class="customer-support"><p4>customer support:</p4></div>
<div class="span2"><p5><span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span></p5></div>
<div class="easy"><p6>Easy of use:</p6></div>
<div class="span3"><p7><span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span></p7></div>
<div class="security"><p8>security:</p8></div>
<div class="span4"><p9><span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span></p9></div>
<div class="speed"><p9>speed:</p7></div>
    <div class="span5"><p10><span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span></p10></div>
<div class="suggestion"><p8>SUGGESTIONS:</p8>
</div>

    <div class="textarea2"> <label for="suggestion"></label>

        
            <textarea id="suggestion" placeholder="type here"></textarea>
        
        
    </div>
    <div class="contact-info"><h3> CONTACT INFORMATION</h3></div>
    <div class="form"><form>
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname">
        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="lname">
    </div>

        <div class="submit">
            <form action="/action_page.php">
                
                <div class="kakas"><input type="submit" value="Submit" ></div>
      </form>
    </div>

</body>
</html>