<DOCTYPE html>
    <html>
        <head>
            <title>Update profile</title>
            <link rel="stylesheet" href="update profile.css" type="text/css"></a>
        </head>
        <body>
            <h1>UPDATE INFORMATIN:</h1><br>
            <form>
                <div class="Name">
                   Business Name: <input type="text" id="Business name"><br><br>
                   Business registration number: <input type="text" id="registratin number"><br><br>
                   Business License: <input type="text" id="name"><br><br>
                   Contact information: <input type="text" id="name"><br><br>
                   Phone Number: <input type="text" id="number"><br><br>
                   Email Address: <input type="text" id="email"><br><br>
                   Address: <input type="text" id="address"><br><br>
                   Address 2(optional): <input type="text " id="address2"><br><br>
                   Town: <input type="text" id="town">
                   City: <input type="text" id="city"><br><br>
                   Country: <input type="text" id="country"><br><br>
                   Enter Your Password: <input type="password" id="password"><br><br>
                    <input type="button" value="Confirm Profile Changes" id="confirm" style="text-align: center"><br><br>

                
                </div>
            </form>
        </body>
    </html>