<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="verification_page.css">
    <title>Verification Page</title>
</head>
<body>
    <h3>Verification Page</h3>
    <div class="form">
        <form action="post">
            First Name<br> <input type="text" name="firstname"><br><br>
            Last Name<br> <input type="text" name="firstname"><br><br>
            SurName(optional)<br> <input type="text" name="firstname">
        </form>
        <br>
        <form action="post">
            Date of Birth <br><label for="birthday"></label>
            <input type="date" id="birthday" name="birthday"><br>
            Email <br><input type="text"><br><br>
            <label for="myfile">Legal Docs:</label>
            <input type="file" id="myfile" name="myfile">
        </form>
        <br>
        <form action="post">
            ID number/Passport: <input type="text"><br><br>
            <label for="myfile">Sefie Photo:</label> <br>
            <input type="file" id="myfile" name="myfile"><br><br>

            <div id="docs">
                <label for="myfile">Legal Docs Front:</label><br>
                <input type="file" id="myfile" name="myfile"><br><br>
                <label for="myfile">Back</label>
                <input type="file" id="myfile" name="myfile">
            </div>

        </form>
        <br>
        <div>
            <form action="post">
                <input type="text" placeholder="verify">
                <input type="text" placeholder="cancel">
            </form>
        </div>
    </div>
</body>
</html>